/* .hello {
  color: red;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;

  &__left {
    display: grid;
    grid-template-areas: 
      "icon title"
      "icon preferences";
  }

  &__icon {
    grid-area: icon;
  }

  &__title {
    grid-area: title;
  }

  &__preferences {
    grid-area: preferences;
    list-style: none;
    display: flex;

    >* {
      margin: 0 10px;
    }
  }

}