@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #ccc;
  font-size: 12px;

  &__left {
    display: grid;
    row-gap: 4px;
    padding: $side-padding;

    grid-template-areas:
      "icon title document-pref ."
      "icon preferences preferences last-change";
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    position: sticky;
    z-index: 100;
    padding: $side-padding;
    background-color: #fff;
    > * {
      margin: 0 10px;
    }
    .comment {
      font-size: 20px;
    }
  }

  &__wrap {
    display: flex;
  }

  &__icon {
    grid-area: icon;
    display: flex;
    align-items: center;
  }

  &__title {
    grid-area: title;
    margin-left: 10px;
    font-size: 14px;
    color: #777;
    @include ellipsis;
  }

  &__document-pref {
    grid-area: document-pref;
    margin-left: 14px;
  }

  &__preferences {
    grid-area: preferences;
    list-style: none;
    display: flex;

    > * {
      margin: 0 10px;
    }
  }

  &__last-change {
    // display: inline-block;
    @include ellipsis;
    white-space: nowrap; // не сжимает объект
    grid-area: last-change;
    color: #777;
    text-decoration: underline;
  }

  &__avatar {
    border-radius: 50%;

    border: 1px solid rgb(235, 235, 235);
  }

  &__btn {
    white-space: nowrap;
    .lock {
      color: whitesmoke;
      font-size: 12px;
      margin-right: 7px;
    }
  }
}

.material-icons {
  color: #777;

  &_size_s {
    font-size: 16px;
  }
}
